{% extends 'base.html' %}
{% load static%}

{% block content %}
<section class="mt-20 bg-white dark:bg-dk-m">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Frequently asked questions</h2>
        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            
            <!-- LEFT COLUMN -->
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        How do I make plots?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                            To make your own plots, navigate to one of the available plot-types such as,
                        <a href="/abspl" class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline" target="_blank" rel="noreferrer">
                            Absorbance and Photoluminesence</a>. Select and upload your data, then fill in the 'label' 
                            section with the name you would like to see in the legend of your plot. Make a comma
                            separated list of labels if there are multiple files.
                    </p>
                </div>
            </div>

            <!-- RIGTH COLUMN -->
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                        What type of data can I use for plotting?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        Currently, our platform supports the following file formats: 
                        .txt, .csv, .ssdat, and .xy. We continuously update our platform 
                        to extract relevant data from uploaded files. While files can 
                        contain non-numerical information, our algorithm skips lines with 
                        non-numerical data. For the smoothest experience, we recommend 
                        uploading files with two distinct columns using common delimiters 
                        like space, comma, or semicolon.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
{% include 'footer.html'%}
{% endblock %}