:root {
    --primary-color: #0098f1;
    --primary-hover-color: #03a3ff;
    --background-color: #ffffff;
    
    --header-color: rgba(0, 152, 241, 0.5);
    --header-button-hover: #038bda;
  
    --post-hover-background: #fbfbfb;
    --post-borderline: #e6e6e6ff;
    --post-hover-borderline: #bdbdbdff;
    
    --text-color: #000000;
    --border-radius: 5px
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: #0098f1;
      --primary-hover-color: #03a3ff;
      --background-color: #000000;
        
      --post-hover-background: #000000;
      --post-borderline: #303030ff;
      --post-hover-borderline: #4e4e4eff;
        
      --text-color: #ffffff;
      --border-radius: 5px
    }
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  a {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
  }
  a:hover {
    background-color: var(--primary-hover-color);
    /* color: var(--primary-color); */
  }
    /* ################################### Column Area ################################### */
  
    /* ################################### Header Area ################################### */
  
  header {
    /* background-color: var(--header-color); */
    /* position: fixed; */
    /* padding: 10px; */
    /* margin-inline: 10px; */
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    /* border-radius: var(--border-radius); */
  }
  .header-logo {
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius);
  }
  .header-username {
    font-size: 20px;
    color: var(--text-color);
    text-shadow: 2px #ffffff;
  }
  .header-button {
    padding: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
  }
  .header-button:hover {
    background-color: var(--header-button-hover);
    color: #ffffff;
  }
  .btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-family: inherit;
  }
  .btn:hover {
  background-color: var(--primary-hover-color);
  color: white;
  }
  .link-div {
    margin-top: 5px;
}
    /* ################################### Div Spacer Area ################################### */
  
  .footer-post-spacer-div {
    padding-bottom: 80px;
  }
  
    /* ################################### Post Area ################################### */
  .post-container {
    max-width: 100%;
    margin: 1%;
    margin-top: 10px;
  }
  .post {
    background-color: var(--background-color);
    padding-block: 10px;
    padding-inline: 15px;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--post-borderline);
    transition: background-color 2s;
    transition: border 0.25s;
    margin-bottom: 1%;
  }
  .post:hover {
    background-color: var(--post-hover-background);
    border: 1px solid var(--post-hover-borderline);
  }
  .post-header {
    display: flex;
    /* border: 1px solid red; */
  }
  .post-profile-image-container {
    display: inline-block;
  }
  .post-username-name-content {
    padding-inline-start: 2%;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
  }
  .post-username {
    font-size: 18px;
    font-weight: normal;
    transition: color 0.05s;
  }
  .post-username:hover {
    color: var(--primary-color);
  }
  .post-name {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
  }
  .post-name:hover {
    text-decoration: underline;
  }
  .post-comment {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 10px;
    padding-inline: 10px;
    text-align: center;
    /* text-align: center; */
    /* border: 1px solid #0c7ebf; */
  }
  .post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--post-borderline);
    transition: border 0.5s;
  }
  /* ################################### Footer Area ################################### */
  
  .footer {
    position: fixed;
    z-index: 1;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    background-color: var(--post-hover-background);
    backdrop-filter: blur(6px);
    border: 1px solid var(--post-borderline);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
  }
  .footer-button {
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: var(--border-radius);
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 10px;
    width: 80px;
  }
  .footer-button:hover {
    background-color: var(--header-button-hover);
    color: #ffffff;
  }
  