{% extends 'base.html' %}

{% load static %}


<!-- ############################## Title ############################## -->
{% block title %}{% endblock %}


<!-- ############################## customStyles ############################## -->
{% block customStyles%}

{% endblock %}


<!-- ############################## customJS ############################## -->
{% block customJS %}

{% endblock %}


<!-- ############################## headerbutton ############################## -->
{% block headerbutton %}

{% endblock %}


<!-- ############################## column1 ############################## -->
{% block column1 %}
 <h2>Your file was successfully created!</h2>
{% endblock %}


<!-- ############################## column2 ############################## -->
{% block column2 %}

{% endblock %}


<!-- ############################## column3 ############################## -->
{% block column3 %}

{% endblock %}


<!-- ############################## footer ############################## -->
{% block footer %}

{% endblock %}
