{% extends 'base.html' %}

{% load static %}


<!-- ############################## Title ############################## -->
{% block title %}Upload{% endblock %}


<!-- ############################## customStyles ############################## -->
{% block customStyles%}
<style>

#uploadForm {
  margin-top: 25px;
}

/* Style the input elements */
#uploadForm input {
  /* Add your desired styles here */
  width: 500px;
}
#uploadForm p {
  text-align: center;
}

</style>
{% endblock %}

<!-- ############################## customJS ############################## -->
{% block customJS %}

{% if plot_type == "/pxrd" %}
  <script>
  function clearInputFile(f) {
    if (f.value) {
      try {
        f.value = ''; // For IE11, latest Chrome/Firefox/Opera...
      } catch (err) { }
      if (f.value) { // For IE5 ~ IE10
        var form = document.createElement('form');
        var parentNode = f.parentNode;
        var ref = f.nextSibling;
        form.appendChild(f);
        form.reset();
        parentNode.insertBefore(f, ref);
      }
    }
  }
    document.addEventListener('DOMContentLoaded', function() {
    var clearFilesBtn = document.getElementById('clearFilesBtn');
    var cardFilesInput = document.getElementById('id_card_files');
    var xrdFilesInput = document.getElementById('id_xrd_files');
  
    clearFilesBtn.addEventListener('click', function() {
      clearInputFile(cardFilesInput);
      clearInputFile(xrdFilesInput);
    });
  });
  </script>
{% elif plot_type == "/abspl" %}
  <script>
  function clearInputFile(f) {
    if (f.value) {
      try {
        f.value = ''; // For IE11, latest Chrome/Firefox/Opera...
      } catch (err) { }
      if (f.value) { // For IE5 ~ IE10
        var form = document.createElement('form');
        var parentNode = f.parentNode;
        var ref = f.nextSibling;
        form.appendChild(f);
        form.reset();
        parentNode.insertBefore(f, ref);
      }
    }
  }
  
  document.addEventListener('DOMContentLoaded', function() {
    var clearFilesBtn = document.getElementById('clearFilesBtn');
    var absFilesInput = document.getElementById('id_abs_files');
    var plFilesInput = document.getElementById('id_pl_files');
  
    clearFilesBtn.addEventListener('click', function() {
      clearInputFile(absFilesInput);
      clearInputFile(plFilesInput);
    });
  });
  </script>
{% endif %}

{% endblock %}

<!-- ############################## headerbutton ############################## -->
{% block headerbutton %}
<a class="header-button" href="/">Home</a>
{% endblock %}

<!-- ############################## column1 ############################## -->
{% block column1 %}
{% endblock %}

<!-- ############################## column2 ############################## -->
{% block column2 %}
<h2 style="text-align: center;">
  Upload
</h2>
<h3 style="text-align: center;">
  {% if plot_type == "/pxrd" %}
    Powder XRD
  {% elif plot_type == "/abspl" %}
    Absorbance and Photoluminescence
  {% endif %}
</h3>

<form id="uploadForm" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <div style="display: flex; justify-content: center; align-items: center;">
    <div>
      <button id="clearFilesBtn" class="btn"  type="button">Clear Files</button>
      <button class="btn" type="submit">Upload</button>
    </div>
  </div>
</form>

{% endblock %}

<!-- ############################## column3 ############################## -->
{% block column3 %}
{% endblock %}

<!-- ############################## footer ############################## -->
{% block footer %}
{% endblock %}
